@media screen and (min-width: 481px){
    .l2022{
        width: 100%;
        margin: 0 auto;
    }
    .l2022list{
        display: flex;
    }
    .l2022lists {
        width: 33%;
        margin:10px;
        position: relative;
        transition: all .3s;
    }
    .l2022lists:hover{
        width:31.8%;
        margin-top:20px;
        margin-left:20px;
        margin-right:20px;
    }
    .l2022name{
        color:white;
        position: absolute;
        top:50%;
        left:50%;
        width: 100%;
        transform: translate(-50%, -50%);   
        margin:auto;
    }
}
@media screen and (max-width: 480px) {
    .l2022lists {
        position: relative;
    }
    .l2022name{
        color:white;
        position: absolute;
        top:50%;
        left:50%;
        width: 100%;
        transform: translate(-50%, -50%);   
        margin:auto;
    }
    .yamada-annai{
        font-size: 8pt;
    }
}