html{
    margin: 0;
    align-items: center;
}
button{
    background-color: blue;
}
.material-icons-outlined{
    color:skyblue;
}
nav {
    position: relative;
    background-color: #191970;
    padding: 0px 0;
}
.nav ul {
    display: block;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}
.nav li {
    padding: 8px 32px;
}
.nav .gnavi__list{
    width: 112px;
}
.nav a {
    text-decoration: none;
    color:skyblue;
}
button {
    border: none;
    cursor: pointer;
}
.toggle-button {
    position: sticky;
    position: absolute;
    top: 8px;
    right: 8px;
}
.links {
    height: 0;
    overflow: hidden;
}
.show {
    height: 240px;
}
body{
    margin:0;
}
